:root{
    --color-text: black;
    --color-buttons: #0E6AFF;
    --color-bg: #B4D0E7;
    --color-text-red: #61082B;
    --color-text-small: #7D7C7A;
    /* brands colors  */
    --designit-in: #A2D39B;
    --designit-out: #D1E9CD;
    --bg-arizona: #61082B;
    --bg-florida: #0093CE;
    --bg-topps: #FF1C1C;
    --bg-designit-grey: #F5F5F5;
    --bg-bicycle: #D5001F;
    --bg-hearst: #B4D0E7;
    --bg-lonely: #0D2481;
    --bg-channel: #FFD830;
    
    /* size titles */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
header{
    width: 100%;
    padding: 20px 10px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    align-items: center;
}
.spazio-vuoto{
    width: 500px;
}
a{
    text-decoration: none;
    color: var(--color-text);
    font-size: 14px;
    font-weight: 100;
}
.btn{
    background-color: var(--color-buttons);
    color: white;
    padding: 5px 12px;
    border: none;
    font-size: 14px;
}
.sezione{
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.bg-celeste{
    background-color: var(--color-bg);
}
.container-1200px{
    max-width: 1200px;
    min-height: 300px;
    padding: 20px 0;
    position: relative;
    top: 100px;
}
h1{
    font-size: 90px;
    font-weight: bold;
}
.box-testo-img{
    display: flex;
}
.box-testo{
    width: 30%;
    text-align: start;
}
.img-jumbo{
    width: 70%;
}
.spazio-extra{
    margin-top: 100px;
}
.container-920px{
    max-width: 920px;
    padding: 20px 0;
}
h2{
    font-size: 40px;
    text-align: start;
}
.radio-checkbox{
    padding: 50px 0;
    display: flex;
    accent-color: var(--color-buttons);
}
.checkbox-mensile{
padding-right: 20px;
}
.container-columns{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.column{
    /* max-width: 200px; */
    min-height: 600px;
    border: 0.05px solid black;
    flex-basis: 27%;
}
.titolo{
    border-bottom: 0.05px solid black;
    text-align: center;
    padding: 10px 0;
}
.contenitore-interno{
    padding: 10px 10px;
    text-align: start;
}
ul li{
    list-style: none;
}
i{
    padding-right: 2px;
}
.space-between{
    padding: 10px 0;
}
hr{
    width: 20%;
    height: 1px;
}
.fa{
    color: var(--color-buttons);
}
.column-large{
    border: 0.05px solid black;
    margin-top: 20px;
}
.contenitore-text-button{
    display: flex;
    flex-direction: column;
}
.partner{
    width: 60%;
    object-fit: contain;
}
.text-box{
    width: 40%;
    padding: 0 72px;
}
.flex{
    display: flex;
    align-items: center;
}
.img{
    max-width: 100%;
    height: 150px;
    object-fit: contain;
}

.card-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card{
    flex-basis: 33.3%;
}
.corpo-light{
    text-decoration: underline;
    color: var(--color-buttons);
}

.flex-inline{
    display: flex;
}
.height-extra{
    height: 80px
}
.grey{
    color: var(--color-text);
    background-color: rgb(226, 223, 223);
    border: none;
}
.end{
    display: flex;
    justify-content: end;
}
.hr-q{
    width: 100%;
    height: 1px;
    color: rgb(226, 223, 223);
}
.flex-column{
    flex-direction: column;
    justify-content: center;
}
.bg-nero{
    background-color: black;
    color: white;
}

.contenitore-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.colonna{
    padding: 0 20px;
}